@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --light-red: hsl(0, 100%, 67%);
    --bg-light-red: hsl(0, 100%, 96%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --bg-orangey-yellow: hsl(39, 100%, 96%);
    --green-teal: hsl(166, 100%, 37%);
    --bg-green-teal: hsl(166, 100%, 96%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --bg-cobalt-blue: hsl(234, 85%, 96%);
    --bg-slate-blue: hsl(252, 100%, 67%);
    --bg-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --grey-blue: hsl(224, 30%, 27%);
    --main-font: 'Hanken Grotesk', sans-serif;
    --sub-font: 'Bebas Neue', cursive;
    --aux-font: 'Bangers', cursive;
}

html,
body,
section,
div,
footer,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--main-font);
}

main {
    max-width: 1440px;
    display: flex;
    box-shadow: 5px 5px 50px var(--bg-cobalt-blue);
    border-radius: 20px;
}

.result {
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 500px;
    width: 420px;
    background: linear-gradient(var(--bg-slate-blue) 00%, var(--bg-royal-blue) 100%);
    border-radius: 6%;
}

.result h1 {
    color: var(--light-lavender);
    font-size: 26px;
    font-weight: 600;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background: linear-gradient(var(--violet-blue) 0%, var(--persian-blue) 100%);
}

article h2 {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 54px;
}

article p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--light-lavender);
    opacity: 0.4;
}

.result-info {
    width: 300px;
    margin: 0 auto;
}

.result-info h3 {
    font-size: 26px;
    letter-spacing: 0.6px;
    color: var(--white);
    margin: 0 0 10px 0;
}

.result-info p {
    font-size: 16px;
    color: var(--light-lavender);
    opacity: 0.9;
}

.summary {
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 420px;
    padding: 0px;
    background: var(--white);
}

.summary h1 {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    padding: 5px 0;
    color: var(--grey-blue);
}

.info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 10px auto;
    height: 64px;
    width: 75%;
    padding: 0 12px;
    border-radius: 6px;
    background: white;
}

.detail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-box img {
    height: 30px;
}

.info-box h2 {
    font-size: 20px;
    font-weight: 500;
}

.info-box p {
    font-size: 18px;
    font-weight: 800;
    color: var(--grey-blue);
}

.info-box span {
    color: var(--grey-blue);
    opacity: 0.4;
}

.summary button {
    height: 50px;
    width: 240px;
    color: var(--white);
    background: var(--grey-blue);
    border: 1px solid navy;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
}

.summary button:hover {
    background: var(--bg-slate-blue);
}

.reaction {
    background: var(--bg-light-red);
    color: var(--light-red);
}

.memory {
    background: var(--bg-orangey-yellow);
    color: var(--orangey-yellow);
}

.verbal {
    background: var(--bg-green-teal);
    color: var(--green-teal);
}

.visual {
    background: var(--bg-cobalt-blue);
    color: var(--cobalt-blue);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 380px;
    width: 280px;
    padding: 0;
    background: var(--bg-green-teal);
    border-radius: 6%;
}

footer h1 {
    color: var(--grey-blue);
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

@media screen and (max-width:820px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: none;
        gap: 10px;
        margin: 0 0 10px 0;
    }

    .result {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        height: 50vh;
        width: 100vw;
    }

    .result h1 {
        font-size: 20px;
        margin: 0;
    }

    .result article p {
        font-size: 16px;
    }

    .result-info {
        width: 60vw;
    }

    .result-info p {
        font-size: 15px;
    }

    .summary {
        height: 50vh;
        width: 90vw;
    }

    .summary h1 {
        text-align: center;
        font-size: 22px;
    }

    .info-box {
        height: 50px;
    }

    .info-box img {
        height: 22px;
    }

    .info-box h2 {
        font-size: 16px;
    }

    .info-box p {
        font-size: 16px;
    }

    .summary button {
        border-radius: 50px;
        font-size: 20px;
        font-weight: 500;
        height: 50px;
        width: 70vw;
    }
}